body{
    min-width: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url("../img/coffee_shop.jpg"); 
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  }
  .section1_content{
    height: 75vh;
    color: #f8f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section1_content h2{
    font-size: 5vw;
  }