
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
.section1{
  height: 98vh;
  background-color: rgb(10, 10, 10);
  background-image:linear-gradient(rgba(0, 0, 0, 0.55),rgba(0,0,0,0.55)), url("../img/coffee.jpeg"); 
  background-repeat: no-repeat;
  background-position:center;
  background-size:100%;
}
.topnav{
  font-weight:700;
  font-size:40px;
}
nav,.link{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav{
  height: 17vh;
  background-color: rgba(208, 214, 220, 0.378);
  border-radius: 60px;
  padding: 0 10vw;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.link{
  gap: 2.5rem;
  list-style: none;
  font-size: 1.8rem;
  justify-content: right;
}
.link a{
  color: black;
  text-decoration:none;
}
.link a:hover{
  text-decoration: underline;
}
.section1_content{
  background-color: rgba(26, 28, 29, 0.323);
  height: 50vh;
  width: 86vw;
  color: #f8f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8vh 7vw;
  border-radius: 50px;
}
.section1_content h2{
  text-align:justify;
  font-size: 3vw;
  font-optical-sizing: auto;

}

.section2  {
    display: flex;
    justify-content: space-between  ;
    align-items:center;
    padding: 5% 20%;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgba(131, 88, 33, 0.373);
    
}

.section2  a{
    text-align: center;
    border: none;
    background: none;
    border-radius :40px;
    text-decoration:none;
}

.section2 a:hover{
  background-color: rgba(255, 255, 255, 0.325);
  cursor: pointer;
}

.section2 a:visited{
  text-decoration: none;
}

.section2 img{
  width: 100%;
  height: auto;
}

.section2 h1{
  margin: 0;
  font-weight:800;
  font-size: 30px;
  color:black ;
}
